extends layout

block content

    // Delete Venue Suggestions page
    .main.container
        .row
            .col-md-8.offset-2
                
                //- If deletion already submitted only show message
                if (deleted)
                  br
                  br
                  h1.display-4.m-b-2 Successfully deleted the venue suggestion!
                  br
                  center
                    a(href="/admin") Back to admin page
                
                //- Else, show delete form
                else
                  br
                  br
                  h1.display-4.m-b-2 Delete suggestions to #{venueSuggestion.venueName}
                  br
                    
                  center
                    h4 Suggestion:
                    
                  
                  .row
                    .offset-1.mb-3
                      
                      .card.mb-3.d-flex.align-items-stretch.float-center
                        .card-body(style='word-wrap: break-word; width: 100%;')
                          h4.card-title #{venueSuggestion.venueName}
                          h5 #{venueSuggestion.userName}
                          hr
                          p.card-text
                            |#{venueSuggestion.suggestion}
                    
                    
                  center
                    p Are you sure you want to delete this request?
                    p <strong> This action cannot be undone. </strong>
                    
                    br
                    a(href="/admin") Back to admin page
                    
                    br
                    br
                    // INSERT EDIT AND APPROVE LINK
                    
                    - const updateReview = "/venueUpdate/" + venueSuggestion._id
                    a.btn.btn-Warning(href=updateReview) UPDATE Venue 
                    
                    
                    br
                    br
                    form(method="POST" action="")
                      button.btn.btn-Danger(type="Submit") DELETE Suggestion
