extends layout

block content
  
  .offset-2.col-8
    .mb-3
      h1 Admin Page
  
    .mb-3
      h3 Pending New Venue Requests
      .row
        each request in venueRequests
          
          - const address = request.venueAddress.venueStreetAddress +", "+request.venueAddress.venueSuburb+", "+request.venueAddress.venuePostcode;
          - const imgURL = "https://studyspot.s3.amazonaws.com/venue/header/" + request._id.toString() + ".jpg"
          .col-8.offset-1.mb-3
            .card.mb-3.d-flex.align-items-stretch
              .row.no-gutters
                .col-4
                  img.venue-thumbnail(src = imgURL
                  onerror="this.src='https://studyspot.s3.amazonaws.com/venue/header/default.jpg'")
                  
                .col-8
                  .card-body
                    h5.card-title #{request.venueName}
                    hr
                    p.card-text(style='white-space:pre;')
                      |#{request.venueType} 
                      |#{address}
                    
            //BUTTON TO "EDIT AND APPROVE REQUEST" - copy of update page
            //BUTTON TO "DELETE REQUEST" - leads to 'are you sure you want to delete' page
            
            - const updateLink = "/admin/resolveRequest/" + request._id.toString();
            - const deleteLink = "/admin/deleteRequest/" + request._id.toString();
            
            p #[a(href=updateLink) Edit and Approve Request] | #[a(href=deleteLink) Delete Request]

                    
  
                    
                    
    .mb-3
      h3 Pending venueSuggestions
      .row
        each suggestion in venueSuggestions
          
          .col-8.offset-1.mb-3
            .card.mb-3.d-flex.align-items-stretch
              .card-body
                h4.card-title #{suggestion.venueName}
                h5 #{suggestion.userName}
                hr
                p.card-text(style='white-space:pre;')
                  |#{suggestion.suggestion} 
                

                
            //BUTTON TO "EDIT AND RESOLVE SUGGESTION" - copy of update page
            //BUTTON TO "DELETE SUGGESTION" - leads to 'are you sure you want to delete' page
            - const updateLink = "/admin/resolveSuggestion/" + suggestion._id.toString();
            - const deleteLink = "/admin/deleteSuggestion/" + suggestion._id.toString();
            
            p #[a(href=updateLink) Update Venue and Resolve Suggestion] | #[a(href=deleteLink) Delete Suggestion]
