extends layout

block content

    // Delete Review page
    .main.container
        .row
            .col-md-8.offset-2
                
                //- If suggestion already submitted only show message
                if (deleted)
                  h2.display-4.m-b-2 Successfully deleted your review!
                
                //- Else, show suggestion form
                else
                
                  h1.display-4.m-b-2 Delete your review for 
                  h1.display-4.m-b-2 #{venue.venueName}
                  br
                  p Are you sure you want to delete your review?
                  p <strong> This action cannot be undone. </strong>
                  
                  h5 Your Review of #{venue.venueName}
                  - reviewDate = review.datePosted.toDateString()
                  
                  .col-10
                    .card.mb-3
                      
                      .row
                          .col-2
                            p user profile image
                          .col-8
                            div
                              //insert user name
                              h5 #[a(href="/user/"+review.userId) #{review.userName}]
                            div
                              //- insert rating
                              p Rating: #{review.rating}/5
                            

                      .offset-1
                        //- insert review text
                        p #{review.content}
                      
                      .offset-9
                        //- insert date
                        p #{reviewDate}
                  
                  form(method="POST" action="")
                    button.btn.btn-Danger(type="Submit") Yes, DELETE Review
                  
                  
