extends layout

block content

    // Delete Review page
    .main.container
        .row
            .col-md-8.offset-2
                
                //- If suggestion already submitted only show message
                if (deleted)
                  h2.display-4.m-b-2 Successfully deleted your review!
                
                //- Else, show suggestion form
                else
                
                  h1.display-4.m-b-2 Delete your review for 
                  h1.display-4.m-b-2 #{venue.venueName}
                  br
                  p Are you sure you want to delete your review?
                  p <strong> This action cannot be undone. </strong>
                  
                  h5 Your Review of #{venue.venueName}
                  - reviewDate = review.datePosted.toDateString()
                  
                  .col-10
                    .card.mb-3

                      .row.m-3
                        .col-3
                          - var userAvatarURL = "https://studyspot.s3.amazonaws.com/user/avatar/" + review.userId.toString() + ".jpg"
                          img.rounded(src = userAvatarURL, width='100%', style="object-fit: cover; height: 95px" onerror="this.src='https://studyspot.s3.amazonaws.com/user/avatar/default.jpg'")
                        .col-9
                          div
                            //insert user name
                            h5 #[a(href="/user/"+review.userId) #{review.userFirstName} #{review.userLastName}]
                          div
                            //insert rating
                            p Rating: #{review.rating}/5
                          hr

                      .offset-1

                        p #{review.content}

                      .offset-9
                        //- insert date
                        p.mr-2.text-muted.float-right(style="font-size: 12px") #{reviewDate}

                  
                  br
                  - const venuePage = "/venue/" + review.venueId
                  a.btn.btn-Info(href=venuePage) Back to the venue page
                  
                  br
                  br
                  - const updateReview = "/review/update/" + review._id
                  a.btn.btn-Warning(href=updateReview) UPDATE review 
                  
                  br
                  form(method="POST" action="")
                    button.btn.btn-Danger(type="Submit") DELETE Review
                  
                  
