extends layout

block content

    // Delete Review page
    .main.container
        .row
            .col-md-8.offset-2
                
                //- If suggestion already submitted only show message
                if (deleted)
                  h2.display-4.m-b-2 Successfully deleted your review!
                
                //- Else, show suggestion form
                else
                
                  h1.display-4.mb-2.mt-3 Delete your review for
                  h1.display-4.mb-2 #{venue.venueName}
                  br
                  p Are you sure you want to delete your review?
                  p <strong> This action cannot be undone. </strong>
                  
                  h5 Your Review of #{venue.venueName}
                  - date = review.datePosted.toDateString()

                  .card.mb-3.col-11

                    .row.m-3
                      .col-xl-3

                        - var userAvatarURL = "https://studyspot.s3.amazonaws.com/user/avatar/" + review.userId.toString() + ".jpg"
                        img.rounded(src = userAvatarURL, style="height: 100px; width: 100px; object-fit: cover",
                          onerror="this.src='https://studyspot.s3.amazonaws.com/user/avatar/default.jpg'")

                      .col-xl-8
                        div
                          //insert user name
                          h5 #[a(href="/profile") #{review.userFirstName} #{review.userLastName}]
                        div
                          if (review.rating < 0.25)
                            img.rounded(src="/images/venue/rating/0.png", width="100px")
                          else if (review.rating < 1.25)
                            img.rounded(src="/images/venue/rating/1.png", width="100px")
                          else if (review.rating < 2.25)
                            img.rounded(src="/images/venue/rating/2.png", width="100px")
                          else if (review.rating < 3.25)
                            img.rounded(src="/images/venue/rating/3.png", width="100px")
                          else if (review.rating < 4.25)
                            img.rounded(src="/images/venue/rating/4.png", width="100px")
                          else
                            img.rounded(src="/images/venue/rating/5.png", width="100px")
                        hr

                    .offset-1

                      p #{review.content}

                    div
                      p.mr-2.text-muted.float-right(style="font-size: 12px") #{date}

                  
                  br
                  - const venuePage = "/venue/" + review.venueId
                  a.btn.btn-Info(href=venuePage) Back to the venue page
                  
                  br
                  br
                  - const updateReview = "/review/update/" + review._id
                  a.btn.btn-Warning(href=updateReview) UPDATE review
                  
                  br
                  form(method="POST" action="")
                    button.btn.btn-Danger.mt-2(type="Submit") DELETE Review
                  
                  
