extends layout

block content
    .main.container
        .row.text-center
            .col-md
                i.icn-person.material-icons error
                br
                br
                br  
                p.lead= message
                br
                
                if functionfailure
                  p #{functionfailure}
                if venueerror
                  p #{venueerror} #[a(href="/venue") click here]
                if reviewerror
                  p #{reviewerror} #[a(href="/venue") click here]
                if imageerror
                  p #{imageerror}
                else  
                  p 
                    |#[a.btn.btn-info(href="/register") Return to sign up]    
                    |#[a.btn.btn-outline-info(href="/login") Return to sign in]
