extends layout

block content
    .main.container
        .row.text-center
            .col-md(style="padding-top:40px")
                i.icn-person.material-icons error
                br
                br
                p.lead= message
                br
                
                if functionfailure
                  p #{functionfailure}
                if venueerror
                  p #{venueerror} #[a(href="/venue") click here]
                if reviewerror
                  p #{reviewerror} #[a(href="/venue") click here]
                if venueRequesterror
                  p #{venueRequesterror} #[a(href="/admin") click here]
                else  
                  p 
                    |#[a.btn.btn-info(href="/register") Return to sign up]    
                    |#[a.btn.btn-outline-info(href="/login") Return to sign in]
