extends layout

block content

    .px-4.py-4.bg-info.col-lg-12
        .container
            .media.align-items-end.profile-header
                .profile.mr-3
                    img.rounded.mb-2.profile-background(src=user.avatar, width='130px')
                    a.btn.btn-light.btn-sm.btn-block(href="/profile/edit") Edit profile
                    a.btn.btn-danger.btn-sm.btn-block(href="/profile/delete") Delete my account
                .media-body.mb-5.text-white
                    h4.my-4 #{user.first_name} #{user.last_name}
                    p.mb-0 Email: #{user.email}
                    p User ID: #{user._id}

    .bg-light.p-4
        .container.d-flex.align-items-center.justify-content-between.mb-3
            ul.list-unstyled.sidebar-menu
                li
                    a.sidebar-item.d-flex.justify-content-between.align-items-center(href='/dashboard')
                        | Dashboard
                        span.fas.fa-tachometer-alt
                li
                    a.sidebar-item.d-flex.justify-content-between.align-items-center(href='/bookmarks')
                        | Bookmarks
                        span.fas.fa-heart
                li
                    a.sidebar-item.d-flex.justify-content-between.align-items-center(href='/recently-viewed')
                        | Recently Viewed
                        span.fas.fa-clock
                li
                    a.sidebar-item.d-flex.justify-content-between.align-items-center(href='/reviews')
                        | Reviews
                        span.far.fa-comment
                li
                    a.sidebar-item.d-flex.justify-content-between.align-items-center(href='/photos')
                        | Photos
                        span.fas.fa-photo-video
                li
                    a.sidebar-item.d-flex.justify-content-between.align-items-center(href='/friends')
                        | Friends
                        span.fas.fa-user-friends
                li
                    a.sidebar-item.d-flex.justify-content-between.align-items-center(href='/sspoints')
                        | SS Points
                        span.fas.fa-dollar-sign

        h1 Bookmarks

        div
            br
            br
            if bookmarks !== "none"
                .row
                    each venue in bookmarks
                        - const address = venue.venueAddress.venueStreetAddress +", "+venue.venueAddress.venueSuburb+", "+venue.venueAddress.venuePostcode;
                        - const imgURL = "https://studyspot.s3.amazonaws.com/venue/header/" + venue._id.toString() + ".jpg"
                        .col-lg-6
                            .card.mb-3.d-flex.align-items-stretch
                                .row.no-gutters
                                    .col-4
                                        a(href="/venue/" + venue._id)
                                            img.venue-thumbnail(src = imgURL
                                                onerror="this.src='https://studyspot.s3.amazonaws.com/venue/header/default.jpg'")
                                    .col-8
                                        .card-body
                                            h5.card-title #[a(href="/venue/" + venue._id) #{venue.venueName}]
                                            hr
                                            p.card-text(style='white-space:pre;')
                                                | #{venue.venueType}
                                                | #{address}
            else
                p There are no bookmarks
