extends layout
    
block content
  
  .main.container
      .col-md-8.offset-2
        
        if (completed)
          h1 Review successfully updated!
          
          h5 Your Review of #{venue.venueName}
          - reviewDate = review.datePosted.toDateString()
          
          div
            .card.mb-3
              
              .row
                  .col-2
                    p user profile image
                  .col-8
                    div
                      //insert user name
                      h5 #[a(href="/user/"+review.userId) #{review.userFirstName} #{review.userLastName}]
                    div
                      //- insert rating
                      p Rating: #{review.rating}/5
                    

              .offset-1
                //- insert review text
                p #{review.content}
              
              .offset-9
                //- insert date
                p #{reviewDate}
          
          - const backToVenue = "/venue/" + review.venueId.toString()
          a(href=backToVenue) Back to venue page
          
        else
          
          h4 Update your review
          
          p Edit your review for <strong>#{venue.venueName} </strong>           

          form(method='POST' action='') 
              
            input.form-control(type="hidden" name='userId' value=user._id) 
            
            input.form-control(type="hidden" name='userFirstName' value=user.first_name) 
            input.form-control(type="hidden" name='userLastName' value=user.last_name) 
            
            input.form-control(type="hidden" name='venueId' value=venue._id)  
        
          

            
            if review.rating == 1
              .btn-group.btn-group-toggle(data-toggle="buttons")
                label.btn.btn-outline-danger
                  input#option1(type="radio" name="star" value=1 autocomplete="off" checked) 
                  |1 Star ★

                label.btn.btn-outline-warning
                  input#option2(type="radio" name="star" value=2 autocomplete="off") 
                  |2 Stars ★
                
                label.btn.btn-outline-secondary
                  input#option3(type="radio" name="star" value=3 autocomplete="off") 
                  |3 Stars ★
                  
                label.btn.btn-outline-info
                  input#option4(type="radio" name="star" value=4 autocomplete="off") 
                  |4 Stars ★
                  
                label.btn.btn-outline-success
                  input#option5(type="radio" name="star" value=5 autocomplete="off") 
                  |5 Stars ★
            
            
            else if review.rating == 2
              .btn-group.btn-group-toggle(data-toggle="buttons")
                label.btn.btn-outline-danger
                  input#option1(type="radio" name="star" value=1 autocomplete="off") 
                  |1 Star ★

                label.btn.btn-outline-warning
                  input#option2(type="radio" name="star" value=2 autocomplete="off" checked) 
                  |2 Stars ★
                
                label.btn.btn-outline-secondary
                  input#option3(type="radio" name="star" value=3 autocomplete="off") 
                  |3 Stars ★
                  
                label.btn.btn-outline-info
                  input#option4(type="radio" name="star" value=4 autocomplete="off") 
                  |4 Stars ★
                  
                label.btn.btn-outline-success
                  input#option5(type="radio" name="star" value=5 autocomplete="off") 
                  |5 Stars ★
            
            else if review.rating == 3
              .btn-group.btn-group-toggle(data-toggle="buttons")
                label.btn.btn-outline-danger
                  input#option1(type="radio" name="star" value=1 autocomplete="off") 
                  |1 Star ★

                label.btn.btn-outline-warning
                  input#option2(type="radio" name="star" value=2 autocomplete="off") 
                  |2 Stars ★
                
                label.btn.btn-outline-secondary
                  input#option3(type="radio" name="star" value=3 autocomplete="off" checked) 
                  |3 Stars ★
                  
                label.btn.btn-outline-info
                  input#option4(type="radio" name="star" value=4 autocomplete="off") 
                  |4 Stars ★
                  
                label.btn.btn-outline-success
                  input#option5(type="radio" name="star" value=5 autocomplete="off") 
                  |5 Stars ★
                
            else if review.rating == 4
              .btn-group.btn-group-toggle(data-toggle="buttons")
                label.btn.btn-outline-danger
                  input#option1(type="radio" name="star" value=1 autocomplete="off") 
                  |1 Star ★

                label.btn.btn-outline-warning
                  input#option2(type="radio" name="star" value=2 autocomplete="off") 
                  |2 Stars ★
                
                label.btn.btn-outline-secondary
                  input#option3(type="radio" name="star" value=3 autocomplete="off") 
                  |3 Stars ★
                  
                label.btn.btn-outline-info
                  input#option4(type="radio" name="star" value=4 autocomplete="off" checked) 
                  |4 Stars ★
                  
                label.btn.btn-outline-success
                  input#option5(type="radio" name="star" value=5 autocomplete="off") 
                  |5 Stars ★
              
            else
              .btn-group.btn-group-toggle(data-toggle="buttons")
                label.btn.btn-outline-danger
                  input#option1(type="radio" name="star" value=1 autocomplete="off") 
                  |1 Star ★

                label.btn.btn-outline-warning
                  input#option2(type="radio" name="star" value=2 autocomplete="off") 
                  |2 Stars ★
                
                label.btn.btn-outline-secondary
                  input#option3(type="radio" name="star" value=3 autocomplete="off") 
                  |3 Stars ★
                  
                label.btn.btn-outline-info
                  input#option4(type="radio" name="star" value=4 autocomplete="off") 
                  |4 Stars ★
                  
                label.btn.btn-outline-success
                  input#option5(type="radio" name="star" value=5 autocomplete="off" checked) 
                  |5 Stars ★
          
            // Textbox
            br
            br
            textarea.col-lg-11.form-control(rows="3" name="review" placeholder="Please enter review here.") #{review.content}
            // Submit 
            br
            button.btn.btn-primary(type="submit") Submit
          
