extends layout

block content

    .profile-cover.px-4.py-4.bg-info.col-lg-12
        .container
            .media.align-items-end.profile-header
                .profile.mr-5
                  - const userAvatarURL = "https://studyspot.s3.amazonaws.com/user/avatar/" + user._id.toString() + ".jpg"
                    img.rounded.mb-4.profile-background(src = userAvatarURL, width='130px'
                    onerror="this.src='https://studyspot.s3.amazonaws.com/user/avatar/default.jpg'")
                .media-body.mb-1.mt-5.ml-4.text-white

                    h3.my-4 #{user.first_name} #{user.last_name}
                    h6.mb-2(style="font-weight: light") Email: #{user.email}
                    if user.biography
                        h6 #{user.biography}
                    br
                    h3
                        i.fa.fa-trophy
                        |  #{points}

    .main.container
        .row
            .col-md-4.col-xl-3
                .card.mt-3.mb-3(style="; margin-left: 0px; width: 199px; font-size: 14px")
                    .card-header
                        h5.card-title.mb-0.text-center Profile
                    .list-group.list-group-flush(role='tablist')
                        a.list-group-item.list-group-item-action.active(data-toggle='list', href='#bookmarks', role='tab')
                            span.fas.fa-heart.pr-4
                            | Bookmarks
                        a.list-group-item.list-group-item-action(data-toggle='list', href='#reviews', role='tab')
                            span.far.fa-comment.pr-4
                            | Reviews
                        //a.list-group-item.list-group-item-action(data-toggle='list', href='#', role='tab')
                        //    span.fas.fa-photo-video.pr-4
                        //    | Photos
                        //a.list-group-item.list-group-item-action(data-toggle='list', href='#', role='tab')
                        //    span.fas.fa-user-friends.pr-4
                        //    | Friends

            .col-md-8.col-xl-9
                .tab-content

                    #bookmarks.tab-pane.fade.active.show(role='tabpanel')
                        .card.mt-3.mb-3
                            .card-body
                                h3.card-title Bookmarks
                                br
                                if bookmarks.length > 0
                                
                                    .row
                                        each venue in bookmarks
                                            - const address = venue.venueAddress.venueStreetAddress +", "+venue.venueAddress.venueSuburb+", "+venue.venueAddress.venuePostcode;
                                            - const imgURL = "https://studyspot.s3.amazonaws.com/venue/header/" + venue._id.toString() + ".jpg"
                                            .col-xl-10
                                                .card.mb-3.d-flex.align-items-stretch
                                                    .row.no-gutters
                                                        .col-4
                                                            a(href="/venue/" + venue._id)
                                                                img.venue-thumbnail(src = imgURL
                                                                    onerror="this.src='https://studyspot.s3.amazonaws.com/venue/header/default.jpg'")
                                                        .col-8
                                                            .card-body
                                                                h5.card-title #[a(href="/venue/" + venue._id) #{venue.venueName}]
                                                                hr
                                                                if (venue.aveRating < 0.25)
                                                                    img.rounded(src="/images/venue/rating/0.png", width="100px")
                                                                else if (venue.aveRating < 0.75)
                                                                    img.rounded(src="/images/venue/rating/0h.png", width="100px")
                                                                else if (venue.aveRating < 1.25)
                                                                    img.rounded(src="/images/venue/rating/1.png", width="100px")
                                                                else if (venue.aveRating < 1.75)
                                                                    img.rounded(src="/images/venue/rating/1h.png", width="100px")
                                                                else if (venue.aveRating < 2.25)
                                                                    img.rounded(src="/images/venue/rating/2.png", width="100px")
                                                                else if (venue.aveRating < 2.75)
                                                                    img.rounded(src="/images/venue/rating/2h.png", width="100px")
                                                                else if (venue.aveRating < 3.25)
                                                                    img.rounded(src="/images/venue/rating/3.png", width="100px")
                                                                else if (venue.aveRating < 3.75)
                                                                    img.rounded(src="/images/venue/rating/3h.png", width="100px")
                                                                else if (venue.aveRating < 4.25)
                                                                    img.rounded(src="/images/venue/rating/4.png", width="100px")
                                                                else if (venue.aveRating < 4.75)
                                                                    img.rounded(src="/images/venue/rating/4h.png", width="100px")
                                                                else
                                                                    img.rounded(src="/images/venue/rating/5.png", width="100px")
                                                                p.card-text(style='white-space:pre; font-size: 12px')
                                                                    br
                                                                    | #{venue.venueType}
                                                                    | #{address}

                                else 
                                  p #{user.first_name} #{user.last_name} has not bookmarked any StudySpots.



                    #reviews.tab-pane.fade(role='tabpanel')
                        .card.mt-3.mb-3
                            .card-body
                                h3.card-title Reviews
                                br
                                
                                if reviews.length > 0
                                    .row
                                      
                                      each review in reviews
                                          
                                          - date = review.datePosted.toDateString()
                                          .col-xl-10
                                            .card.mb-3

                                                .row.m-3
                                                    .col-3
                                                        - var userAvatarURL = "https://studyspot.s3.amazonaws.com/user/avatar/" + review.userId.toString() + ".jpg"
                                                        img.rounded(src = userAvatarURL, style="height: 100px; width: 100px; object-fit: cover", onerror="this.src='https://studyspot.s3.amazonaws.com/user/avatar/default.jpg'")
                                                    .col-9
                                                        div
                                                            //insert user name
                                                            h5 #[a(href="/user/"+review.userId) #{review.userFirstName} #{review.userLastName}]
                                                        div
                                                            if (review.rating < 0.25)
                                                                img.rounded(src="/images/venue/rating/0.png", width="100px")
                                                            else if (review.rating < 1.25)
                                                                img.rounded(src="/images/venue/rating/1.png", width="100px")
                                                            else if (review.rating < 2.25)
                                                                img.rounded(src="/images/venue/rating/2.png", width="100px")
                                                            else if (review.rating < 3.25)
                                                                img.rounded(src="/images/venue/rating/3.png", width="100px")
                                                            else if (review.rating < 4.25)
                                                                img.rounded(src="/images/venue/rating/4.png", width="100px")
                                                            else
                                                                img.rounded(src="/images/venue/rating/5.png", width="100px")
                                                        hr

                                                .offset-1

                                                    p #{review.content}

                                                div
                                                    p.mr-2.text-muted.float-right(style="font-size: 12px") #{date}
                                        
                                                                  
                                else
                                  p #{user.first_name} #{user.last_name} has not left any reviews.
                                    
                                    
                                    
                                                    
