extends layout

block content
    user-profile.col-12.mb-2
        img.profile-background(src=user.cover)
    .main.container
        .row
            div
                // Content
                div.dashboard-area.col-md-12
                  .row
                    // User's cover and profile photos
                    user-profile.col-12.mb-2
                      img.profile-thumbnail(src=user.avatar)
                  // User's details
                  .profile-details.col-md-6.ml-auto.mr-auto
                    h2 #{user.name}
                    p Email: #{user.email}
                    p User ID: #{user._id}

                div.col-md-3.pr-md-4.side-bar-left
                    // Sidebar menu
                    ul.list-unstyled.sidebar-menu.pl-md-2.pr-md-0
                        li
                            a.sidebar-item.d-flex.justify-content-between.align-items-center(href='/bookmarks')
                                | Bookmarks
                                span.fas.fa-heart
                        li
                            a.sidebar-item.d-flex.justify-content-between.align-items-center(href='/reviews')
                                | Reviews
                                span.fas.fa-comment
                        li
                            a.sidebar-item.d-flex.justify-content-between.align-items-center(href='/photos')
                                | Photos
                                span.fas.fa-photo-video
                        li
                            a.sidebar-item.d-flex.justify-content-between.align-items-center(href='/friends')
                                | Friends
                                span.fas.fa-user




