extends layout

block content

    .profile-cover.px-4.py-4.bg-info.col-lg-12
        .container
            .media.align-items-end.profile-header
                .profile.mr-5
                  - const userAvatarURL = "https://studyspot.s3.amazonaws.com/user/avatar/" + user._id.toString() + ".jpg"
                    img.rounded.mb-2.profile-background(src = userAvatarURL, width='130px'
                    onerror="this.src='https://studyspot.s3.amazonaws.com/user/avatar/default.jpg'")
                .media-body.mb-3.text-white
                    h3.my-4 #{user.first_name} #{user.last_name}
                    h6.mb-0 Email: #{user.email}
                    if(user.biography)
                      h6 #{user.biography}

    .main.container
        .row
            .col-md-4.col-xl-3
                .card.mt-3.mb-3(style="; margin-left: 0px; width: 199px; font-size: 14px")
                    .card-header
                        h5.card-title.mb-0.text-center Profile
                    .list-group.list-group-flush(role='tablist')
                        a.list-group-item.list-group-item-action(data-toggle='list', href='#bookmarks', role='tab')
                            span.fas.fa-heart.pr-4
                            | Bookmarks
                        a.list-group-item.list-group-item-actsion(data-toggle='list', href='#reviews', role='tab')
                            span.far.fa-comment.pr-4
                            | Reviews
                        a.list-group-item.list-group-item-action(data-toggle='list', href='#', role='tab')
                            span.fas.fa-photo-video.pr-4
                            | Photos
                        a.list-group-item.list-group-item-action(data-toggle='list', href='#', role='tab')
                            span.fas.fa-user-friends.pr-4
                            | Friends

            .col-md-8.col-xl-9
                .tab-content

                    #bookmarks.tab-pane.fade(role='tabpanel')
                        .card.mt-3.mb-3
                            .card-body
                                h3.card-title Bookmarks
                                br
                                br
                                if bookmarks.length > 0
                                
                                    .row
                                        each venue in bookmarks
                                            - const address = venue.venueAddress.venueStreetAddress +", "+venue.venueAddress.venueSuburb+", "+venue.venueAddress.venuePostcode;
                                            - const imgURL = "https://studyspot.s3.amazonaws.com/venue/header/" + venue._id.toString() + ".jpg"
                                            .col-lg-6
                                                .card.mb-3.d-flex.align-items-stretch
                                                    .row.no-gutters
                                                        .col-4
                                                            a(href="/venue/" + venue._id)
                                                                img.venue-thumbnail(src = imgURL
                                                                    onerror="this.src='https://studyspot.s3.amazonaws.com/venue/header/default.jpg'")
                                                        .col-8
                                                            .card-body
                                                                h5.card-title #[a(href="/venue/" + venue._id) #{venue.venueName}]
                                                                hr
                                                                p.card-text(style='white-space:pre; font-size: 12px')
                                                                    | #{venue.venueType}
                                                                    | #{address}

                                else 
                                  p #{user.first_name} #{user.last_name} has not bookmarked any StudySpots.



                    #reviews.tab-pane.fade(role='tabpanel')
                        .card.mt-3.mb-3
                            .card-body
                                h3.card-title Reviews
                                br
                                br
                                
                                if reviews.length > 0
                                    .row
                                      
                                      each review in reviews
                                          
                                          - date = review.datePosted.toDateString()
                                          .col-lg-10
                                            .card.mb-3

                                                .row.m-3
                                                    .col-3
                                                        - var userAvatarURL = "https://studyspot.s3.amazonaws.com/user/avatar/" + review.userId.toString() + ".jpg"
                                                        img.rounded(src = userAvatarURL, width='100%', style="object-fit: cover; height: 95px" onerror="this.src='https://studyspot.s3.amazonaws.com/user/avatar/default.jpg'")
                                                    .col-9
                                                        div
                                                            //insert user name
                                                            h5 #[a(href="/user/"+review.userId) #{review.userFirstName} #{review.userLastName}]
                                                        div
                                                            //insert rating
                                                            p Rating: #{review.rating}/5
                                                        hr

                                                .offset-1

                                                    p #{review.content}

                                                div
                                                    p.mr-2.text-muted.float-right(style="font-size: 12px") #{date}
                                        
                                                                  
                                else
                                  p #{user.first_name} #{user.last_name} has not left any reviews.
                                    
                                    
                                    
                                                    
