extends layout

block content
    // View all users cards with basic details
    .main.container
        div.row
            .ml-auto.mr-auto.col-md-offset-2
                br
                br
                h1 Leaderboard
                br
            .row
                each user,index in users
                    div.col-lg-3.col-sm-6
                        div.card.hovercard.user-card
                            .cardheader

                            // Profile photo
                            .avatar2
                                - var userAvatarURL = "https://studyspot.s3.amazonaws.com/user/avatar/" + user._id.toString() + ".jpg"
                                img.rounded.mb-2.profile-background(src = userAvatarURL,
                                  onerror="this.src='https://studyspot.s3.amazonaws.com/user/avatar/default.jpg'")

                            // Basic user information
                            .info
                                .title
                                    if (currentUser && currentUser._id.toString() == user._id.toString())
                                      a(href='/profile/') #{user.first_name} #{user.last_name}
                                    else
                                      a(href='/user/' + user._id) #{user.first_name} #{user.last_name}
                                .desc Email: #{user.email}

                                br
                                .desc(style="font-size: 24px")

                                    i.fa.fa-trophy
                                    |  #{pointsList[index][1]}
                                    br

