extends layout

block content

    .profile-cover.px-4.py-4.bg-info.col-lg-12
        .container
            .media.align-items-end.profile-header
                .profile.mr-5
                  - const userAvatarURL = "https://studyspot.s3.amazonaws.com/user/avatar/" + user._id.toString() + ".jpg"
                    img.rounded.mb-2.profile-background(src = userAvatarURL, width='130px'
                    onerror="this.src='https://studyspot.s3.amazonaws.com/user/avatar/default.jpg'")
                    //- img.rounded.mb-2.profile-background(src=user.avatar, width='130px')
                .media-body.mb-3.text-white
                    h4.my-4 #{user.first_name} #{user.last_name}
                    p.mb-0 Email: #{user.email}
                    p User ID: #{user._id}
                    p Bio: #{user.biography}

    .main.container
        .row
            .col-md-4.col-xl-3
                .card.mt-3.mb-3(style="; margin-left: 0px; width: 199px; font-size: 14px")
                    .card-header
                        h5.card-title.mb-0.text-center Profile
                    .list-group.list-group-flush(role='tablist')
                        a.list-group-item.list-group-item-action(data-toggle='list', href='#bookmarks', role='tab')
                            span.fas.fa-heart.pr-4
                            | Bookmarks
                        a.list-group-item.list-group-item-actsion(data-toggle='list', href='#', role='tab')
                            span.far.fa-comment.pr-4
                            | Reviews
                        a.list-group-item.list-group-item-action(data-toggle='list', href='#', role='tab')
                            span.fas.fa-photo-video.pr-4
                            | Photos
                        a.list-group-item.list-group-item-action(data-toggle='list', href='#', role='tab')
                            span.fas.fa-user-friends.pr-4
                            | Friends
