extends layout

block content
  h1 #{title}
  
  .main.container
    center
        table.venue-table
          tr
            th Name
            th Type
            th Street Address
            th Suburb
            th State
            th Postcode

          each venue in venues
            tr
              td
                a(href='/venue/' + venue._id) #{venue.venueName}
              td #{venue.venueType}
              td #{venue.venueStreetAddress}
              td #{venue.venueSuburb}
              td #{venue.venueState}
              td #{venue.venuePostcode}
              
              
              
  .main.container
    .row
      .col-md-8.col-md-offset-2 Name
      .col-md-8.col-md-offset-2 Type
      .col-md-8.col-md-offset-2 Street Address
      .col-md-8.col-md-offset-2 Suburb
      .col-md-8.col-md-offset-2 State
      .col-md-8.col-md-offset-2 Postcode
        
        
        h1.display-4.m-b-2 Study Areas
