extends layout

block content
    // Venue Suggestions Form for Users to Suggest Changes to Venue Profile
    .main.container
        .row
            .col-md-8.offset-2
                
                //- If suggestion already submitted only show message
                if (completed)
                  
                  br
                  br
                  h1.display-4.m-b-2 Successfully submitted your suggestion!
                  br
                  center
                    p The admins will review your suggestions and update our database accordingly.
                
                //- Else, show suggestion form
                else
                
                  h1.display-4.m-b-2 Suggest Changes for 
                  h1.display-4.m-b-2 #{venue.venueName}
                  br
                  p
                    | Hi! Thank you for helping us improve StudySpot.
                    | Filling out the form below submits your suggestions to the admin,
                    | who will then update the venues accordingly.
                    
                  form(method='POST' action='') 
                    div.form-group.row
                      
                      // Display static user name
                      label.col-sm-1.col-form-label(for="staticUserName") User:
                      div.col-sm-11
                        
                        //ADD USER SCHEMA/EMAIL IN BACKEND so can set value = user.EMAIL or username
                        input.form-control-plaintext#staticEmail(type="text" readonly value=user.email) 
                        input.form-control(type="hidden" name='userId' value=user._id)
                        input.form-control(type="hidden" name='userName' value=user.first_name + " " + user.last_name)  
                    
                      
                      // Display static venue name
                      label.col-sm-1.col-form-label(for="staticVenueName") Venue:
                      div.col-sm-11
                    
                        input.form-control-plaintext(type="text" name='venueName' readonly value=venue.venueName)
                        input.form-control(type="hidden" name='venueId' value=venue._id)  
                    
                    // Textbox
                    div.form-group.row
                      label(for="exampleFormControlTextarea1") Please enter your suggestions for updates to this venue profile here:
                      textarea.form-control(rows="3" name="suggestion" placeholder="Please enter suggestions here.")
                    
                    // Submit 
                    br
                    button.btn.btn-primary(type="submit") Submit
                  
                  
