extends layout

block content
    .main.container
        .row
            .col-md-8.col-md-offset-2
                h1.display-4.m-b-2 #{completed}
                br
                if (venue && user)
                  h1.display-4.m-b-2 Suggest Changes for 
                  h1.display-4.m-b-2 #{venue.venueName}
                  br
                  p
                    | Hi! Thank you for helping us improve StudySpot.
                    | Filling out the form below submits your suggestions to the admin,
                    | who will then update the venues accordingly.
                    
                  form(method='POST' action='') 
                    div.form-group.row
                      
                      // Display static user name
                      label.col-sm-1.col-form-label(for="staticUserName") User:
                      div.col-sm-11
                        
                        //ADD USER SCHEMA/EMAIL IN BACKEND so can set value = user.EMAIL or username
                        input.form-control-plaintext#staticEmail(type="text" readonly value=user.email) 
                        input.form-control(type="hidden" name='userId' value=user._id) 
                    
                      
                      // Display static venue name
                      label.col-sm-1.col-form-label(for="staticVenueName") Venue:
                      div.col-sm-11
                    
                        input.form-control-plaintext(type="text" readonly value=venue.venueName)
                        input.form-control(type="hidden" name='venueId' value=venue._id)  
                    
                    // Can do this
                    div.form-group.row
                      label(for="exampleFormControlTextarea1") Please enter your suggestions for updates to this venue profile here:
                      textarea.form-control(rows="3" name="suggestion" placeholder="Please enter suggestions here.")                  
                    
                    // Submit 
                    br
                    button.btn.btn-primary(type="submit") Submit
                  
                  
