extends layout


block content
  
  #venues-page.main.container
      .row
          .col-md-8.col-md-offset-2
              h1.display-4.m-b-2 #{title}
              p #{message}
              h5 
                a(href='/newvenue') Register a new venue
              table
                  tr
                      th Name
                      th Type
                      th Address
                      th Details
                      th Contact
                      th Hours

                  each venue in venues
                      tr
                        td
                            a(href='/venue/' + venue._id) #{venue.venueName}
                        td #{venue.venueType}
                        td #{venue.venueAddress}
                        td #{venue.venueDetails}
                        td #{venue.venueContact}
                        td #{venue.venueHours}
                        
                        
          
    
