extends layout


block content
  
  #venues-page.main.container
    
      //- .row
      //-     .col-md-8.col-md-offset-2
      
      h1 #{title}
      p #{message}
      
      br
      h5 
        a(href="/newvenue") Register a new venue
      br
      
      .row
        each venue in venues
          - const address = venue.venueAddress.venueStreetAddress +", "+venue.venueAddress.venueSuburb+", "+venue.venueAddress.venuePostcode;
          .col-md-6
            .card(style="height:12rem;").mb-3
              .row.no-gutters
                .col-md-4
                  p img goes here
                .col-md-8              
                  .card-body
                    h5.card-title #[a(href="/venue/" + venue._id) #{venue.venueName}]
                    hr
                    p.card-text(style='white-space:pre;')
                      |#{venue.venueType} 
                      |#{address}
                
