extends layout


block content
  // View All Venues in With Basic Details Card Format
  br
  br
  .col-md-10.col-lg-8.col-xl-7.mx-auto
      form(method="GET" action="/venue")
          .input-group
              select.form-control(name="searchType")
                  option(value='Any' selected='') Any Type
                  option(value='Cafe') Cafe
                  option(value='Library') Library
                  option(value='Others') Others
              input.form-control(type="text",name="search" , placeholder="Search for cafes, libraries or hidden spots")
              input.form-control(type="text",name="searchLocation" , placeholder="Search for suburb")
              .input-group-append
                  button.btn.btn-warning(type="submit", value="Search")
                      i.fa.fa-search
      //br
  #venues-page.main.container

      //script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
      //script(src='http://code.jquery.com/jquery-1.11.0.min.js')
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js')

      h1 #{title}
      p #{message}


      // Register/Request a new Venue

      if (user && user.admin)
        br
        h5
          a(href="/newvenue") + Register a new venue
        br
      else if (user)
        br
        h5
          a(href="/requestNew/") + Request a new StudySpot
        br

      br

      .row
        div.card.col-md-3.mb-3
            article.card-group-item
                form#filterValues(method="GET" action="/venue")
                    //input(type='hidden' name='filters' value='applied')
                    input(type='hidden' name='searchType' value=typeV)
                    input(type='hidden' name='search' value=nameV)
                    input(type='hidden' name='searchLocation' value=locV)

                    header.card-header
                        h6.title Venue Type
                    .filter-content
                        .card-body
                            if typeV === 'Cafe'
                                label.form-check
                                    input.form-check-input(type='radio' name='type' value='Cafe' checked)
                                    span.form-check-label
                                        | Cafe
                            else
                                label.form-check
                                    input.form-check-input(type='radio' name='type' value='Cafe')
                                    span.form-check-label
                                        | Cafe

                            if typeV === 'Library'
                                label.form-check
                                    input.form-check-input(type='radio' name='type' value='Library' checked)
                                    span.form-check-label
                                        | Library
                            else
                                label.form-check
                                    input.form-check-input(type='radio' name='type' value='Library')
                                    span.form-check-label
                                        | Library

                            if typeV === 'Others'
                                label.form-check
                                    input.form-check-input(type='radio' name='type' value='Others' checked)
                                    span.form-check-label
                                        | Others
                            else
                                label.form-check
                                    input.form-check-input(type='radio' name='type' value='Others')
                                    span.form-check-label
                                        | Others

                    header.card-header
                        h6.title Features
                    .filter-content
                        .card-body
                            // form-check.//
                            if filters.includes('discussionFriendly')
                                label.form-check
                                    input.form-check-input(type='checkbox' name= 'discussionFriendly' value='true' checked)
                                    span.form-check-label
                                        | Discussion Friendly
                            else
                                label.form-check
                                    input.form-check-input(type='checkbox' name= 'discussionFriendly' value='true')
                                    span.form-check-label
                                        | Discussion Friendly

                    header.card-header
                        h6.title Noise Level
                    .filter-content
                        .card-body
                            if noise === 'Low'
                                input.js-range-slider(type='text' name='noise' value='')
                                script.
                                    $(".js-range-slider").ionRangeSlider({
                                        skin: "round",
                                        type: 'single',
                                        grid: true,
                                        from: 0,
                                        hide_min_max: true,
                                        values: ['Low', 'Med', 'High', 'Any']
                                    });
                            else if noise === 'Med'
                                input.js-range-slider(type='text' name='noise' value='')
                                script.
                                    $(".js-range-slider").ionRangeSlider({
                                        skin: "round",
                                        type: 'single',
                                        grid: true,
                                        from: 1,
                                        hide_min_max: true,
                                        values: ['Low', 'Med', 'High', 'Any']
                                    });
                            else if noise === 'High'
                                input.js-range-slider(type='text' name='noise' value='')
                                script.
                                    $(".js-range-slider").ionRangeSlider({
                                        skin: "round",
                                        type: 'single',
                                        grid: true,
                                        from: 2,
                                        hide_min_max: true,
                                        values: ['Low', 'Med', 'High', 'Any']
                                    });
                            else
                                input.js-range-slider(type='text' name='noise' value='')
                                script.
                                    $(".js-range-slider").ionRangeSlider({
                                        skin: "round",
                                        type: 'single',
                                        grid: true,
                                        from: 3,
                                        hide_min_max: true,
                                        values: ['Low', 'Med', 'High', 'Any']
                                    });

                    header.card-header
                        h6.title Amenities
                    .filter-content
                        .card-body
                            if filters.includes('wifi')
                                label.form-check
                                    input.form-check-input(type='checkbox' name='wifi' value='true' checked)
                                    span.form-check-label
                                        | Wifi
                            else
                                label.form-check
                                    input.form-check-input(type='checkbox' name='wifi' value='true')
                                    span.form-check-label
                                        | Wifi

                            if filters.includes('toilets')
                                label.form-check
                                    input.form-check-input(type='checkbox' name='toilets' value='true' checked)
                                    span.form-check-label
                                        | Toilets
                            else
                                label.form-check
                                    input.form-check-input(type='checkbox' name='toilets' value='true')
                                    span.form-check-label
                                        | Toilets
                            if filters.includes('power')
                                label.form-check
                                    input.form-check-input(type='checkbox' name='power' value='true' checked)
                                    span.form-check-label
                                        | Power Outlets
                            else
                                label.form-check
                                    input.form-check-input(type='checkbox' name='power' value='true')
                                    span.form-check-label
                                        | Power Outlets

                            if filters.includes('printer')
                                label.form-check
                                    input.form-check-input(type='checkbox' name='printer' value='true' checked)
                                    span.form-check-label
                                        | Printers
                            else
                                label.form-check
                                    input.form-check-input(type='checkbox' name='printer' value='true')
                                    span.form-check-label
                                        | Printers

                        center
                            button.btn.btn-outline-primary(type="submit" value="Filter")
                              | Apply
        br



        .col-md-7.offset-1

          each venue in venues
            - const address = venue.venueAddress.venueStreetAddress +", "+venue.venueAddress.venueSuburb+", "+venue.venueAddress.venuePostcode;
            - const imgURL = "https://studyspot.s3.amazonaws.com/venue/header/" + venue._id.toString() + ".jpg"

            .card.mb-3.d-flex.align-items-stretch
              .row.no-gutters
                .col-4
                  a(href="/venue/" + venue._id)
                    img.venue-thumbnail(src = imgURL
                    onerror="this.src='https://studyspot.s3.amazonaws.com/venue/header/default.jpg'")
                .col-8
                  .card-body
                    h5.card-title #[a(href="/venue/" + venue._id) #{venue.venueName}]
                    hr
                    p.card-text(style='white-space:pre;')
                      |#{venue.venueType}
                      |#{address}



