extends layout

block content

    // Delete Venue Image page
    .main.container
        .row
            .col-md-8.offset-2
                - const galleryLink = "/venueGallery/" + venue._id
                
                //- If suggestion already submitted only show message
                if (deleted)
                  h2.display-4.m-b-2 Successfully deleted an image for #{venue.venueName}!
                  
                  - const galleryLink = "/venueGallery/" + venue._id
                  a(href=galleryLink) Back to #{venue.venueName}'s gallery
                
                //- Else, show suggestion form
                else
                
                  h1.display-4.m-b-2 Delete image for #{venue.venueName}
                  br
                  p Are you sure you want to delete this image?
                  p <strong> This action cannot be undone. </strong>
                  
                  - const imageURL = "https://studyspot.s3.amazonaws.com/" + imagePath
                    center
                      div(style="height: 400px; width: 500px; overflow: hidden; margin: 10px")
                        a(href=imageURL)
                          img.img-fluid.img-thumbnail(src=imageURL style="height:400px; width: auto")

                  
                  br
                  a.btn.btn-Info(href=galleryLink) Back to the venue gallery
                  
                  br
                  br
                  form(method="POST" action="")
                    button.btn.btn-Danger(type="Submit") DELETE Image  
